* {

}

.container {
    box-sizing: border-box;
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 10px;
    padding: 0px;
}

body li:hover {
    background-color: #555;
    color: #f1f1f1;
}

.active {
    background-color: #04AA6D;
    top: 10px;
    right: 80px;
}

.active:hover {
    background-color: #04AA6D;
}

.about {
    text-align: center;
}

.academicks {
    font-size: 20px;
}

.oyla {
    font-size: 15px;
}

.kurs a li {
    text-decoration: none;
}

.kurs {
    background-color: #04AA6D;
    text-align: center;
    text-decoration: none;
}

.kurs a li {
    text-decoration: none;
}

.oqish {
    text-align: center;
}

.it img {
    width: 400px;
    height: 300px;
    opacity: 0.7;
}

.it img:hover {
    opacity: 0;
}

.h3 {
    position: absolute;
    top: 1700px;
    left: 30px;
}

.it1 {
    position: absolute;
    top: 1735px;
    left: 20px;
}

.biz {
    text-align: center;
}

.robat {
    position: absolute;
}

.h2 {
    position: absolute;
    top: 1695px;
    left: 600px;
}

p.robat1 {
    position: absolute;
    top: 1730px;
    left: 550px;
}

.robat img {
    width: 400px;
    height: 300px;
    opacity: 0.7;
}

.img23 {
    width: 400px;
    height: 300px;
    opacity: 0.7;
    position: absolute;
    top: 1735px;
    left: 550px;
}

.img23:hover {
    opacity: 0;
}
/*matem*/

.matem {
    position: absolute;
    top: 2030px;
    left: 610px;

}

.img24 {
    width: 400px;
    height: 300px;
    right: 550px;
    opacity: 0.7;
}
.img24:hover{
    opacity: 0;
}
.matem1{
    position: absolute;
    top: 2070px;
    left: 550px;
}

.ing{
    position: absolute;
    top: 2030px;
    left: 110px;
}
.ingtili{
    position: absolute;
    top: 2070px;

}
.ielts2{
    position: absolute;
    top: 2350px;
    left: 350px;
}
.ielts1{
    position: absolute;
    top: 2290px;
    left: 450px;
}
.oxiri1{
    position: absolute;
    top: 2500px;
}
.oson{

    color: #6767f5;
}

.container {
    box-sizing: border-box;
    margin: 35px;
}

body div ul li {
    padding: 10px;
    padding-right: 20px;
}

body li:hover {
    color: #f1f1f1;
}

li {
    display: inline;
}
.pohoto{
    position: absolute;
    top: 1740px;
    left: 10px;
    width: 800px;
    height: 40px;
}

